

html, body {
    margin: 0;
    padding: 0;
}
.profile1{
    padding: 2%;
    padding-left: 10%;
    padding-right: 10%;
}
.profile {
    background-color: gray;
    text-align: center;
    width: 100vw;
    margin: 0;
    border:none;
}

img {
    padding: 2%;
    width: 10%;
    height: auto;
    display: block;
    margin: 0 auto;
}


html {
    background-color: rgb(224, 224, 224);
    font-family: sans-serif;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 20px; 
    margin-top: 20px; 
}
.social-links a {
    color: #333;
    font-size: 30px;
    transition: color 0.3s;
    transition: font-size 0.3s;
    text-decoration: none;
}

.social-links a:hover {
    color: #0077b5;
    font-size: 35px;
    
}
